<div class="main-container">
  <app-sidenav>
        <router-outlet>
        </router-outlet>

        <footer>
<!--          <div [@divState]="state"-->
<!--               [@wildState]="wildState"-->
<!--               style="width: 100px;-->
<!--                  height: 100px;-->
<!--                  border-radius: 10px/30px;-->
<!--                  margin: 10px"></div>-->
<!--          <button (click)="onAnimate()">Animate!</button>-->
<!--          <button (click)="onWild()"></button>-->
<!--          <p> Salads - yummy and healthy dishes</p>-->

        </footer>
    </app-sidenav>
</div>
