
<div class="grid container">
  <!-- controls -->
  <button class="control prev" (click)="onPreviousClick()">
    <span class="arrow left"></span>
  </button>
  <button class="control next" (click)="onNextClick()">
    <span class="arrow right"></span>
  </button>

  <div class="carousel">
      <div class="row">
      <ng-container *ngFor="let saladCard of saladsCard; let i = index">
        <div class="card-columns col-md-3 col-sm-12"
              *ngIf="i >= getSlideCount(i)">
        <div class="card bg-light"
             (click)="viewCard(saladCard.id)">
          <img src="assets/img/{{saladCard.img}}" alt="salad1">
          <div class="card-body card-img-top
                          text-center card-link">
            <h5 class="card-title">{{saladCard.name}}</h5>
            <p class="card-text">{{saladCard.ingriedient}}</p>
          </div>
        </div>
        </div>
      </ng-container>
  </div>

    <div class="card-columns col-md-6 col-sm-12">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>

